body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
    padding: 0;
}

img{
    display: block;
}

.container{
  width: 1150px;
  padding: 0 15px;  
  margin: 0 auto;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;

} 

.tx-center{
    text-align: center;
}

.header .container{
    display: flex;
    align-items: center;
    
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 237px;
    margin-right: 73px ;
}

.nav-log{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0;
    display: flex;
    gap: 16px;
    color: #173A56;
}

.nav-list{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0;
    display: flex;
    gap: 30px;
}

.header-btn-list{
    display: flex;
    gap: 21px;
}

.nav-link{
    display: block;
    padding: 26px 0;
    color: #22343D;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0;
}

.header-btn{
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    padding: 9px 24px;
    letter-spacing: 0;
    line-height: 1.5;
}

.sign-in{
    border: 1px solid #BCD0E5;
    width: 105;
    height: 42;
    color: #173A56;
    background-color: #FFFFFF ;
}

.sign-up{
    background-color: #02897A;
    color: #FFFFFF;
}

/*==Hero==*/

.hero{
    padding: 25px 0 50px;
}

.hero .container{
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 18px;
    max-width: 385px;
}

.hero-desc{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0;
    margin-bottom: 45px;
}

.hero-list-btn{
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-icon{
    fill: #02897A;
    border-radius: 2px;
}

.hero-btn{
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    
}

.get-started{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    background-color: #02897A;
    color: #FFFFFF;
    padding: 15px 41px;
}

.watch-btn{
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: #02897A;
    text-decoration: underline;
    background: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.watch-btn:focus .hero-icon,
.watch-btn:hover .hero-icon{
    fill: #fff;
}

.watch-btn:hover{
    background-color: #02897A;
    color: #fff;
   
}

/*=Specifically=*/

.specifically{
    padding: 50px 0 ;
}

.specifically-list{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
  
}
   
.specifically-item{
    width: calc((100% - 90px) / 4);
}

.spec-wrap{
    margin-bottom: 26px;
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cursor-icon{
    fill: #fff;
}

.green{
    background-color: #02897A;
}

.blue{
    background-color: #4D8DFF ;
}

.violet{
    background-color: #740A76;
}

.red{
    background-color: #F03E3D;
}
.specifically-title{
    max-width: 500px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.specifically-item-desc{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0;
}

.specifically-title-item{
    margin-bottom: 13px;
    color: #22343D;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
}

.specifically-btn{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: #02897A;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    padding: 15px 24px;
    border-radius: 4px;
}

/*==Management==*/

.management{
    padding: 50px 0 0px;
}

.management .container{
    display: flex;
    gap: 84px;
    align-items: center;
}

.management-subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0;
    margin-bottom: 8px;
}

.upper{
   line-height: 1;
}
.management-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.management-desc{
    max-width: 440px;
    color: #22343D;
}

.mb-30{
    margin-bottom: 30px;
}

.management-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*==Customer==*/

.customer{
    padding: 120px 0;
}

.customer .container{
    display: flex;
    gap: 84px;
}

.customer-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.customer-item{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 410px
}


.customer-spec-wrap{
    border-radius: 13.85px;
    min-width: 35px;
    height: 35px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.orange{
    background-color: #FF9900;
}

/*==collaborative==*/

.collaborative .container{
    display: flex;
    align-items: center;
    gap: 84px;
}

/*===easy-progress===*/

.easy-progress{
    padding: 150px 97px 100px 97px;
}

.easy-progress-title{
    margin-bottom: 25px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #22343D;
}

.easy-progress-text{
    color: #22343D;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.625;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    max-width: 542px;
}

.easy-progress-list{
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 916px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 0px;
}

.easy-progress-item{
    width: calc((100% - 0px) / 2); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.easy-progress-text-wrap{
    padding: 14px 19px 12px 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 -1px 4px rgba(23, 58, 86, 0.05), 0 4px 10px rgba(23, 58, 86, 0.15);
}

.easy-progress-item-text{
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

/*===strategy===*/

.strategy-title{
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;  
}

.strategy-text{
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    max-width: 415px;
    display: block;
    margin-bottom: 40px;
}

.strategy-list{
    display: flex;
    gap: 30px;

}

.strategy-item{
    border-radius: 8px;
    overflow: hidden;
    width: calc((100% - 60px) / 3);
    border: 1px solid rgba(128, 128, 128, 0.363)
}

.strategy-img{
    display: block;
    width: 100%;
}

.strategy-text-wrap{
   padding: 24px 27px 40px 27px; 
}

.bold{
    font-weight: 700;
}

.strategy-desc{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
    color: #22343D;
}

.color-green{
    color: #02897A;
}

/*===price===*/
.price{
    padding-top: 171px;
}

.price-text {
    color: #22343D;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

.price-card-list{
    display: flex;
    gap: 72px;
}

.price-title-wrap{
    text-align: center;
}

.price-card-item{
    width: calc((100% - 150px) / 3);
    padding: 32px 72px;
    box-shadow: 0 2px 8px rgba(23, 58, 86, 0.21);
    border-radius: 8px;
}

.price-card-item:nth-child(2){
    color: #FFFFFF;
    background-color: #02897A;
}

.price-card-item:nth-child(2) .cart-desc,
.price-card-item:nth-child(2) .strategy-desc,
.price-card-item:nth-child(2) .price-service,
.price-card-item:nth-child(2) .price-info-text{
    color: #FFFFFF;
}

.price-card-item:nth-child(2) .price-btn{
    background-color: #FFFFFF;
    color: #02897A;
}

.cart-desc{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    margin-bottom: 16px;
    color: #22343D;
}

.price-service{
    font-size: 76px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    letter-spacing: 0.003em;
    color: #02897A;
    position: relative;
    margin-bottom: 40px;
    transform: translateX(20px);
}

.price-icon{
    position: absolute;
    top: 6px;
    left: 45px ;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.004em;
    font-family: "Inter", sans-serif;
}

.price-card-item:nth-child(3) .price-icon{
    left: 90px;
}

.price-term{
    position: absolute;
    bottom: 10px;
    left: 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.006em;
    color: #AFAFAF;
}

.price-card-item:nth-child(2) .price-term{
    color: #E0E0E0;
}

.price-card-item:nth-child(3) .price-term{
    left: 90px;
}

.price-info-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}


.price-info-text{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.375;
    letter-spacing: 0.0125em;
    color: #22343D;
}

.price-btn{
    padding: 11px 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

/*===reviews===*/
.reviews{
    padding-top: 98px;
    margin-bottom: 100px;
}

.reviews-desc{
    font-size: 16px;
    color: #22343D;
    line-height: 1.75;
    letter-spacing: 0.0125em;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    max-width: 537px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.reviews-list{
    display: flex;
    justify-content: space-between;

}

.reviews-item{
    min-width: 327px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 28px 0px 28px 26px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviews-text{
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.0125em;
    color: #737373;
}

.reviews-user{
    display: flex;
    align-items: center;
    gap: 14px;
}

.reviews-user-name{
    color:#02897A;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.0125em;
    font-weight: 600;
}

.reviews-prof{
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    line-height: 1.71;
}

/*===banner===*/
.banner{
    margin-bottom: 100px;
}

.banner-wrap{
    max-width: 968px;
    background-color: #02897A;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    padding: 0px 46px 10px 51px; 
}

.banner-info-wrap{
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding-top: 49px
}

.banner-title{
    max-width: 510px;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
}

.banner-btn{
    color: #02897A;
    font-size: 20p;
    font-weight: 600;
    line-height: 1;
    padding: 10px 34px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 150px;
}

/*===footer===*/
.footer{
    margin-bottom: 40px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.soc-networks{
    display: flex;
    gap: 16px;
    padding-top: 18px;
}

.soc-network-wrap{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #EDFFFC;
    border-radius: 50%;
    max-width: 40px;
    padding: 8px;
}

.footer-info{
    display: flex;
    gap: 153px;
}

.footer-nav-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #22343D;
    margin-bottom: 8px;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
}

.footer-nav-item{
    color: #22343def;
    font-size: 16px;
    line-height: 2.19;
}

.copyright{
    font-size: 16px;
    line-height: 1.875;
    color: #22343df0;
    text-align: center;
}

.footer-form-title{
    margin-bottom: 30px;
    max-width: 280px;
}

.footer-form-input{
    max-width: 325px;
    padding: 10px 42px 10px 42px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    outline-color: #02897A;
}

.footer-form-input::placeholder{
    color: #02897A;
}

.input-wrapper{
    position: relative;
    display: inline-block;
}

.input-icon{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    fill: #02897A;
    pointer-events: none;
}

.form-footer{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-form-btn{
    padding: 8px 15px;
    background-color:#02897A;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    color: #fff;
    line-height: 1;
    max-width: 131px;
}
